
body {
	background-color: #DFDFC2 /* #C7C7C7; /* #DBDBDB; */
	/* background-image: url('../img/backgrounds/ios-linen.jpg'); */
	/*background-image: url('../img/backgrounds/jquery-dark-tile-blue-overlay.png'); */
}

div.tempbox {
	margin: 0 10%;
	background-color: #FFFF7D;
	color: #111;
	box-shadow: 1px 1px 1px;
}

div.wrapper {
	margin: 3% 6% 3% 6%;
	padding-bottom: 2%;
	background-color: #EEEEEE;
	box-shadow: 1px 2px 15px;
}

div.wrapper-header {
	background-color:  #223D4F; /* #21273D; */
	margin: 0 0 0 0; 
} 

div.wrapper-inner {
	background-color: #EEEEEE;
	margin: 0;
	padding-top: 0;
}

.wrapper-content {
	margin: 3% 3% 3% 3%;
}

/**
 * 	Navbar
 */

b.navtag { 
	text-decoration: bold;
	color: #BBBBBB;
}
b.navtag:hover {
	color: #EEEEEE;
}
b.nav-inner {
	color: #343434; 
}
b.nav-inner:hover {
	color: #141414; 
}

/**
 * 	Page Header
 */
.page-header{
	padding-bottom:20px;
	padding-top: 20px;
	color: #EEEEEE;
	/* background-color:  #29485F; /* #36607D; /* #1E3545; /* #223D4F; /* 254257 */
background: rgb(47,74,94); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(47,74,94,1) 0%, rgba(28,66,94,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(47,74,94,1)), color-stop(100%,rgba(28,66,94,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(47,74,94,1) 0%,rgba(28,66,94,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(47,74,94,1) 0%,rgba(28,66,94,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(47,74,94,1) 0%,rgba(28,66,94,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(47,74,94,1) 0%,rgba(28,66,94,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f4a5e', endColorstr='#1c425e',GradientType=0 ); /* IE6-9 */


	box-shadow: 0px 0px 8px #223D4F;
}

.sub-page-header {
	padding-bottom: -10px;
}

div.page-header {
	margin-top: -25px;
}



/*
 * Publications
 */

/*
div.publications p{
	padding: 1.4em 0 0 10px;
	min-height: 40px;
	width: 440px;
	float: left;
	margin-left: 150px;
	text-align: right;
	font-size: 1.4em;
	line-height: 1.4em;
	font-family: helvetica, arial, sans-serif;
	color: #8d6727;
	text-shadow: #fff 0 1px 0;
}
*/
div.publications p{
	padding: 1.4em 0 0 10px;
/* 	min-height: 20px; */
/*	width: 440px; */
/*	float: left; */
	text-align: justify;
	font-family: helvetica, arial, sans-serif;
	text-shadow: #fff 0 1px 0; 
}

div.publications a {
	color: black;
	padding: none;
	margin: 0;
}

div.publications a:hover{
	/* color: purple;
		background: #B1B1B1;
	background: #353638;
	color: #B1B1B1;
	*/
	/* background: #003D40;*/
	color: #003D40;
	background-color: #E2E4E4;
	/* color: #fff; */
}

.publications h3 {
	margin-left: 40px;
}

.publications h4 {
	margin-left: 40px;
	margin-top: 30px;
}
/*
.publications li {
	display: inline-block;
	margin-top: 5px;
	padding: 5px;
	text-align: justify;
	padding: 1.4em 0 0 1.4em;
} */


.pdf-tag {  
	padding-left:10px;
	display: inline-block;
	font-size: 75%; 
} 


.citation {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
} 

/* bottom bar style copied and adapted from http://thecityswig.com */
#botbar{min-height:20px;background-color:#111;margin:10px 0 0 0;padding:0px;border-top:1px solid #666;position:fixed;bottom:0px;left:0px;right:0px;z-index:998;}#botbar p{margin:0px;padding:5px;text-align:left;font-family:Helvetica,Arial,sans-serif;color:#2A425E;font-size:11px;text-align:center;}#botbar p a{color:#fff;}
#botbar ul{margin:0px;padding:5px;text-align:center;font-family:Helvetica,Arial,sans-serif;color:#2A425E;font-size:11px;text-align:center;}

.imageRow .single img {
	padding: 12px 10px 12px 12px;
/*	background-color: #21273D; /* #A3D3D7; /* #ABDFE4; /* #8CC6D4; /* #B1B1B1; /* #00394D; */ /* 6E8C97;*/
	display: inline;
}

.imageRow {
	padding: 8px 0px 8px 8px;
	background-color: #EEEEEE; /* #21273D; /* #A3D3D7; /* #ABDFE4; /* #8CC6D4; /* #B1B1B1; /* #00394D; */ /*6E8C97; */ /*#353638; */
	-moz-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
}
/*
.lb-image, .lb-outerContainer, .lb-innerContainer, .lb-nav {
	max-height: 800px;
	max-width: 800px;
} */

.gallery-unit {
/* background-color: #fff; */
	padding: 0px 15px 15px 15px;
	-moz-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
}

.gallery-unit h3 {
	margin-left: 20px;
}

.gallery-header{
	text-align:center;
	/* margin-left: 5%; */	
}

.gallery-section{
	/* margin-left: 3%; */
	margin: 0 2%+10px;
/* 	text-align: center; */
}

div.set {
	margin: 0 auto;
	max-width: 1600px;
}

/*
.sidebar {
	position: fixed;
} */

.nav-tab-blue, .nav-tab-blue a {
	color: #EEEEEE;
	background-color: #1E3545; /* #223D4F; /* #21273D; */
}

.nav-tab-blue a:hover {
	color: black;
	background-color: #EEEEEE;
}
/*
.sidebar .tabs-left {
	margin-left: 30px;
}



/*
 * Carousels
 */

.carousel-inner img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.carousel-inner {
	background-color: #c9d0d6;
}

p.carouselcaption { 
    min-height: 40px;
}

/*
 * Team
 */

p.bio-text{
	font-size: 1.1em;
	line-height: 1.0em;
	font-family: Helvetica, Arial, sans-serif;
	margin-left: 20px;
	color: black;
}

.blurb {
	color: black;
	background-color: #EEEEEE; /* #A3D3D7; */
	padding: 25px 20px 25px 20px;
	min-height: 100%;
}

.bio-pic {
	background-color: #1E2B34; /*#1E3545; /* #21273D; */
	color: #EEEEEE; /* white; */
	height: 100%; 
	padding-bottom: 20px;
/*	padding: 15px 15px 15px 15px;
	margin: auto; */
}

.bio-pic-sub {
	background-color: #1E2B34; /*#1E3545; /* #21273D; */
	color: #EEEEEE; /* white; */
	height: 100%; 
	padding: 15px 15px 15px 15px;
	margin: auto; 
}

.bio-text {
	min-height: 275px;
}

.bio-right h4 {
	display: inline-block;
}

.bio-right span.descriptor {
	padding-left: 10px;
}

.bio-right span.line2 {
	display: inline-block;
	position: relative;
	margin-top:-10px;
	/* top:20px; */
}

.team-member{
	margin: 15px 0px 15px 0px;
}


/********
 *Index
 */

.explanation p {
	text-align: justify;
	padding: 10px 4% 10px 4%;	
}

.explanation ol {
	text-align: left;
	padding: 0 6%;
}

.display-image {
	margin: 10px 0;
	padding: 10px 10px;
	background-color: #1E2B34;
}

/**
 * 	Principles
 */
#animation {
	/* margin: 0px auto 50px auto; */
	text-align: center;
}

.video-explanation {
	text-align: center;
	padding: 3px 4% 3px 4%;	
}

p.carouselcaption {
	text-align: center;
}

div.datacaption {
	position: relative;
	float: none;
	
}

p.datacaption {
	text-align: left;
	position: relative;
	float:none;
}
/*
div.animation-caption {
	margin-bottom: 100px;
	margin-top: 30px;
}  */

/**
 * 	Web Links
 

.weblinks {
	margin-left: 25%;
}
*/

/***********
 * Footer 
 */

footer p.footer-info {
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
}