RewriteBase /berg/

RewriteEngine on
RewriteCond $1 !^(index\.php|text\.php|img|js|css|journals|vid|data|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /berg/index.php/$1 [L,QSA]
